<!DOCTYPE html>
<html>
<head>
  <title>EastAfricaBikes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <% if signed_in? %>
    <p>Signed in as: <%= current_user.email %></p>
    <%= link_to 'Logout', sign_out_path, method: :delete, data: { confirm: 'Are you sure you want to log out?' } %>
  <% else %>
    <%= link_to 'Sign in', sign_in_path %>
  <% end %>

  <%= yield %>
</body>

</html>
